body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  background-color: #0a1128;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
}

button {
  background-color: #0a1128;
  border: none;
  color: #f1faee;
}

ul {
  padding: 0px;
  margin: 0 auto;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 5px;
  align-items: flex-end;
}

.notes-btn {
  align-self: flex-end;
  padding: 10px;
  color: white;
  background-color: #0a1128;
  border-radius: 20px 0 0px 20px;
}

.close-btn {
  align-self: flex-end;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
